<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Connect stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- if we wanna not use google cdn to host jquery
      <script src="jquery-3.3.1.min.js"></script>
    -->

    <!-- Connect Javascript files -->
    <script src="js/main.js"></script>
    <script src="js/homepage.js"></script>

    <title>Melee is sick</title>
  </head>
  <body>

    <!-- Header  -->
    <div class="header">
      <img src="images/shine.jpg" id="home-logo">
      <a href="/" id="home-title">Triton Melee</a>
    </div>

    <!-- Jumbotron -->
    <div class="jumbrotron">
      <img src="images/banner-moxie2D.jpg">
    </div>

    <!-- Some other contect lul -->
    <div class="content">
      <a href="/events"></a>
    </div>

    <!-- Contact Info -->
    <div class="contact-info">
      <ul>
        <li>
          <a><img src="images/icons/facebook.png"></a>
        </li>
        <li>
          <a><img src="images/icons/instagram.png"></a>
        </ii>
        <li>
            <a><img src="images/icons/twitter.png"></a>
        </li>
        <li>
            <a><img src="images/icons/phone.png"></a>
        </li>
        <li>
            <a><img src="images/icons/mail.png"></a>
        </li>
      </ul>
    </div>

  </body>
</html>
